html, body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

header {
    font-size: 30px;
    margin: 0 auto 10px auto;
    width: 180px;
}

#canvas-box {
    min-height: 500px;
}

#canvas {
    background-color: palevioletred;
}

#meta > div {
    margin-bottom: 10px;
}

#minimap {
    border: 1px solid palevioletred;
    width: 100px;
    height: 100px;
}