html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: darkgreen;
}

#canvas {
    background-color: palevioletred;
}

#level {
    position: fixed;
    left: 5px;
    bottom: 5px;
    font-size: 30;
    color: black;
    font-weight: 800;
}